In [3]:
import pandas as pd
import psycopg2
conn = psycopg2.connect(host="localhost", port = 5432, database="Recommendation_System", user="postgres", password="*******")
cur = conn.cursor()
def create_pandas_table(sql_query, database = conn):

    table = pd.read_sql_query(sql_query, database)

    return table

T_frames1 = create_pandas_table("SELECT * FROM stats_shan_premier")
display(T_frames1)

,Year,Month,Distributor,Distributor_Name,Invoice_Date,Order_Date,Delivery_Date,Customer_Code,Customer_Name,Route_Code,Route_Name,Brand,Pack_Size,Product_Code,Product_Description,Quantity_EA,List_Price,Net_Amount
0,2019,1,34140551,SHAN DISTRIBUTION SERVICES (PVT) LIMITED,20190101,20181231.0,20190101.0,RWP25523,M/S Gs,SDSRC35,Zone AF - HASSAN,BR03-Dettol,SZ016-Dettol Soap Skincare 95 GM,3012018,"DETOL,PK,Skincare, 95G X 72",12,43.76,621.02
1,2019,1,34140551,SHAN DISTRIBUTION SERVICES (PVT) LIMITED,20190101,20181231.0,20190101.0,RWP25486,Wali G/s,SDSRC35,Zone AF - HASSAN,BR03-Dettol,SZ014-Dettol Soap Original 95 GM,3012016,"DETOL,PK,Original, 95G X 72",12,43.76,621.02
2,2019,1,34140551,SHAN DISTRIBUTION SERVICES (PVT) LIMITED,20190101,20181231.0,20190101.0,RWP25486,Wali G/s,SDSRC35,Zone AF - HASSAN,BR15-Veet,SZ081-Veet Cream Normal 25 GM,3074744,"VEET,PK,NRML25G GOLD PROMOX96",2,76.70,177.56
3,2019,1,34140551,SHAN DISTRIBUTION SERVICES (PVT) LIMITED,20190101,20181231.0,20190101.0,RWP25532,Arif Super Store,SDSRC35,Zone AF - HASSAN,BR15-Veet,SZ233-Veet Cream Sachet Normal 14 GM,3054114,"VEET,PK,NORMAL 14GX192 PACKS",6,15.49,110.37
4,2019,1,34140551,SHAN DISTRIBUTION SERVICES (PVT) LIMITED,20190101,20181231.0,20190101.0,RWP25530,Star GS,SDSRC35,Zone AF - HASSAN,BR15-Veet,SZ233-Veet Cream Sachet Normal 14 GM,3054114,"VEET,PK,NORMAL 14GX192 PACKS",24,15.49,441.49
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
969899,2020,12,34140872,PREMIER SALES (PRIVATE) LIMITED,20201208,20201207,20201208,KHI21566,Jaweed Medcial,PSKRC09,Zone I- NABEEL,BR15-Veet,SZ107-Veet Lotion Normal 80 GM,3012347,"VEET,PK,Nor, 80g X 24",1,181.13,216.00
969900,2020,12,34140872,PREMIER SALES (PRIVATE) LIMITED,20201208,20201207,20201208,KHI23653,Fahad G/Store,PSKRC10,Zone J-M.AYYAN,BR03-Dettol,SZ303-Dettol Soap Original 85 GM,3090896,"DETOL,PK,ORIGINAL 85G X 72",6,47.74,338.75
969901,2020,12,34140872,PREMIER SALES (PRIVATE) LIMITED,20201208,20201207,20201208,KHI23653,Fahad G/Store,PSKRC10,Zone J-M.AYYAN,BR03-Dettol,SZ309-Dettol Soap Original 130 GM,3091166,"DETOL,PK,ORIGINAL 130G X 72",6,63.65,451.65
969902,2020,12,34140872,PREMIER SALES (PRIVATE) LIMITED,20201208,20201207,20201208,KHI40603,IDEAL BAKERY,PSKRC10,Zone J-M.AYYAN,BR03-Dettol,SZ001-Dettol ASL 50 ML,3029941,"DETOL,PK,ASL,50ML X 60 NP",4,76.15,365.52
969903,2020,12,34140872,PREMIER SALES (PRIVATE) LIMITED,20201208,20201207,20201208,KHI40603,IDEAL BAKERY,PSKRC10,Zone J-M.AYYAN,BR03-Dettol,SZ304-Dettol Soap Skincare 85 GM,3090897,"DETOL,PK,SKINCARE 85 X 72",6,47.74,338.75

In [ ]:
import pypyodbc 
import pandas as pd

cnxn = pypyodbc.connect("Driver={SQL Server Native Client 11.0};"
                        "Server=server_name;"
                        "Database=db_name;"
                        "uid=User;pwd=password")
df = pd.read_sql_query('select * from table', cnxn)

In [5]:
import pymysql
db = pymysql.connect(host='localhost', database="vaceglobal_lms", user='root', passwd='')
cursor = db.cursor()
query = ("SELECT * FROM syringe_pump")
cursor.execute(query)
t1=pd.read_sql_query(query,db)
display(t1)

   syringe_id  disorder    drug status  patient_id flowrate
0           1     dgfgf  dadsad      1           1       25
1           2  gfgfdgdf   fgfgf      1           2       29
2           3      tttt    erer      1           1       43

In [ ]:
import pdmongo as pdm
import pandas as pd
df = pdm.read_mongo("MyCollection", [], "mongodb://localhost:27017/mydb")

In [ ]:
import pandas as pd
import psycopg2
conn = psycopg2.connect(host="192.168.100.50", port = 54356, database="desktop_pos", user="postgres", password="turab")
cur = conn.cursor()
def create_pandas_table(sql_query, database = conn):

    table = pd.read_sql_query(sql_query, database)

    return table

T_frames = create_pandas_table("SELECT * FROM order_masters")
display(T_frames)

In [ ]:
import pandas as pd
url = 'https://raw.githubusercontent.com/Srashti13/Movie-Data-set/master/Moviedf_full2.csv'
df = pd.read_csv(url,error_bad_lines=False)

display(df)

In [16]:
import requests
import io

# Username of your GitHub account

username = 'faizanrazashah1'

# Personal Access Token (PAO) from your GitHub account

token = '307354b490d6a7c3df39d73be5278c739245cefa'

# Creates a re-usable session object with your creds in-built

github_session = requests.Session()
github_session.auth = (username, token)
    
# Downloading the csv file from your GitHub

url = "https://raw.githubusercontent.com/faizanrazashah1/sample-data/main/Amal%20E%20Khair%20(COVID-19)%20-%20Copy.csv?token=ARBOAR4DWGOKU2MAKTI6FT3AMLGHW" # Make sure the url is the raw version of the file on GitHub
download = github_session.get(url).content

# Reading the downloaded content and making it a pandas dataframe

df1 = pd.read_csv(io.StringIO(download.decode('utf-8')))

# Printing out the first 5 rows of the dataframe to make sure everything is good

display(df1)

,AMAL-E-KHAIR (COVID-19)\nDetails for rashan distributed,Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9,Unnamed: 10,Unnamed: 11
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...
383,BG #377,Adeel,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
384,BG #378,Adeel,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
385,BG #379,Adeel,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
386,BG #380,Adeel,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
387,BG #381,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [15]:
import pandas as pd
import requests
import json
url = "https://api.exchangeratesapi.io/latest?symbols=USD,GBP"
response = requests.get(url)
data = response.text
parsed = json.loads(data)
print(json.dumps(parsed, indent=4))
dfff=pd.DataFrame(parsed)
dfff.insert(0,'currency', dfff.index, True)
dfff.reset_index(drop=True,inplace=True)
display(dfff)

{
    "rates": {
        "USD": 1.1741,
        "GBP": 0.85378
    },
    "base": "EUR",
    "date": "2021-03-30"
}

  currency    rates base        date
0      GBP  0.85378  EUR  2021-03-30
1      USD  1.17410  EUR  2021-03-30